
html{
	margin: 20px 80px 60px 80px;
	font-size:18px;
	background-color:dimgrey;
}

body{
	background-color:lightgrey;
	padding-left:30px;
	padding-right:30px;
	padding-bottom:20px;
	width:960px;
	margin-left:auto;
	margin-right:auto;
	font-family: "Lato",sans-serif;
}

header{
	padding-top:40px;
}

nav{
	font-size:24px;
	margin-top: -40px;
	padding-bottom:2px;
	padding-top:2px;
	margin-left:-30px;
	margin-right:-30px;
	background-color:#36454F;
}

nav a:link{
	color:white;
	text-decoration:none;
}

nav a:visited{
	color:LightGray;
}

nav a:hover{
	text-decoration:underline;
}

nav ul{
	padding-left:0px;
	width:365px;
}
nav ul li{
	display: inline;
	margin-left:25px;
}


#Objective_and_Summary{
	margin-bottom:30px;
}

ul{
	margin-top:10px;
	margin-bottom:10px;
}

ul.summary{
	list-style:inside;
	padding-left:5px;
}

h1.full_name{
	font-size:40px;
}

h1{
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size:32px;
}
h2{
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size:28px;
}
h3.label{
	border-bottom:1px;
	border-bottom-color:black;
	margin-top:15px;
	margin-bottom:-5px;
}

h3.label:after{
	content:'';
	display:block;
	border:1px solid black;
}

p{
	margin-top:5px;
	margin-bottom:5px;
}
h4.position{
	font-family: "Lato",sans-serif;
	font-size:20px;
	font-weight:900;
	margin-top:5px;
	margin-bottom:5px;
}

h4.edu{
	font-family: "Lato",sans-serif;
	font-size:20px;
	font-weight:900;
	margin-top:5px;
	margin-bottom:5px;
}

div.chunk{
	margin-bottom:20px;
	margin-top:10px;
}
div.chunk p{
	font-family: "Lato",sans-serif;
}
